<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WP Exam</title>
</head>
<body>

<div>
    <!-- The form below should invoke the method CandidatesController.showCandidates -->
    <form id="filter-form">
        <label for="years">Years</label>
        <input id="years" type="number" name=""/>
        <label for="gender">Gender</label>
        <select id="gender" name="">
            <option value="">All</option>
            <!-- For each gender you should have one <option> like below  -->
            <option value="[gender]"> [gender.name]</option>
        </select>
        <button id="filter" type="submit">Filter</button>
    </form>
    <div>
        <!-- CandidatesController.showAdd -->
        <a href="" class="add-item">
            Add new candidate
        </a>
    </div>
    <table>
        <tr>
            <th>Candidate name</th>
            <th>Biography</th>
            <th>Date of Birth</th>
            <th>Gender</th>
            <th>Party</th>
            <th>Votes</th>
            <th>Actions</th>
        </tr>
        <!-- For each candidate you should have one <tr> like below -->
        <tr class="item">
            <td>[candidate.name]</td>
            <td>[candidate.bio]</td>
            <td>[candidate.dateOfBirth]</td>
            <td>[candidate.gender]</td>
            <td>[candidate.party]</td>
            <td>[candidate.votes]</td>
            <td>
                <!-- CandidatesController.delete -->
                <form>
                    <button type="submit" class="delete-item">Delete</button>
                </form>
                <!-- CandidatesController.showEdit -->
                <a href="" class="edit-item">Edit</a>
                <!-- CandidatesController.vote -->
                <form>
                    <button type="submit" class="like-item">Vote</button>
                </form>
            </td>
        </tr>
    </table>

</div>
<div>
    <ul id="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>
</body>
</html>
